<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Lab11.Properties.Settings.AdventureWorks2008ConnectionString"
            connectionString="Data Source=MSSQLSERVER41;Initial Catalog=AdventureWorks2008;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>